.button {
	--border-radius: 10px;
	--inset: 4px;

	position: relative;

	padding: 14px 20px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	color: rgba(255, 255, 255, 0.96);

	font-size: 17px;
	line-height: 22px;
	font-weight: 600;

	border-radius: var(--border-radius);
	min-height: inherit;

	.buttonBorder {
		position: absolute;
		inset: calc(var(--inset) * -1);
		z-index: 0;

		display: none;

		padding: 1.5px;

		border-radius: calc(var(--border-radius) + var(--inset));

		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask-composite: exclude;

		&::before {
			content: '';

			position: absolute;
			left: 50%;
			top: 50%;

			padding-top: calc(var(--button-size) + var(--inset) + 2px);

			background: #8776f9;

			width: calc(var(--button-size) + var(--inset) + 2px);

			transform-origin: center center;
			transform: translate(-50%, -50%);
		}
	}

	&:hover:not(:disabled) .buttonBorder {
		display: block;
	}

	&:disabled {
		opacity: 0.5;
		cursor: auto;
	}
}
